<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>subTitle</key>
			<string>8888</string>
			<key>title</key>
			<string>寄存备件使用</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>小猪猪</string>
			<key>title</key>
			<string>论坛</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>Swift 开发的</string>
			<key>title</key>
			<string>客户</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>调用新浪API自己写</string>
			<key>title</key>
			<string>手机</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>控制APP更新时间</string>
			<key>title</key>
			<string>过于简单</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>让ios积分墙成为APP的一部分</string>
			<key>title</key>
			<string>增强用户体验</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>可以让用户在两个应用之间做到快速切换</string>
			<key>title</key>
			<string>Slide Over</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>可将屏幕分成两部分，同时运行两个应用</string>
			<key>title</key>
			<string>Split View</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>用户在看视频过程中如果想看或回邮件</string>
			<key>title</key>
			<string>画中画</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>杨孝远不是iOS程序员</string>
			<key>title</key>
			<string>我是iOS程序员</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>subTitle</key>
			<string>2222</string>
			<key>title</key>
			<string>洪克涛结婚</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>支持Apple Watch</string>
			<key>title</key>
			<string>iOS来电信息</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>新闻详情页</string>
			<key>title</key>
			<string>Objective-C 写的</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>iPad点餐端</string>
			<key>title</key>
			<string>GitHub</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>subTitle</key>
			<string>导演：高桥涉</string>
			<key>title</key>
			<string>蜡笔小新：梦境世界大突击</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>类型：剧情,历史,战争</string>
			<key>title</key>
			<string>比利·林恩的中场战事</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>到店需另加5元/位</string>
			<key>title</key>
			<string>消失爱人</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>到店加20元</string>
			<key>title</key>
			<string>恋爱中的城市</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>subTitle</key>
			<string>地址：杭州市淳安县千岛湖新安北路41号千岛湖农贸市场4楼</string>
			<key>title</key>
			<string>千岛湖金字塔国际影城</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>地址：杭州市拱墅区丰潭路380号银泰城4楼</string>
			<key>title</key>
			<string>杭州传奇奢华影院</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>地址：浙江省杭州市桐庐县迎春南路666号利时百货5楼</string>
			<key>title</key>
			<string>桐庐时代金球影城</string>
		</dict>
		<dict>
			<key>subTitle</key>
			<string>iPad点餐端</string>
			<key>title</key>
			<string>GitHub</string>
		</dict>
	</array>
</array>
</plist>
